body{
    background-color: black;
}

h1{
    color: white;
}

.square{
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;

}

#container{
    max-width: 600px;
    margin: auto;
}

#messageContainer{
    background-color: white;
}